.stickybar {
    z-index: 1025;
    background-color: ghostwhite;

}

.footerbar {
    position: sticky;
    bottom: 0;
    z-index: 1025;
    width: 100%;
    background-color: ghostwhite
}

input {
    z-index: 1;
    position: relative;
}